@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* styles.css */


.text-blue-500 {
  fill: none;
  stroke: #3498db; /* Change to your preferred color */
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
